{% extends 'base.html.twig' %}

{% block body %}
    <h1>RecurringEmployeeFeedback list</h1>

    <div class="row">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Employee</th>
                <th>Typeofmeeting</th>
                <th>Targetdate</th>
                <th>Appointeddate</th>
                <th>Protocol</th>
                <th>Note HR</th>
                <th>Note superior</th>
                <th>Note employee</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for recurringEmployeeFeedback in recurringEmployeeFeedbacks %}
                <tr>
                    <td>
                        <a href="{{ path('recurringemployeefeedback_show', { 'id': recurringEmployeeFeedback.id }) }}">{{ recurringEmployeeFeedback.id }}</a>
                    </td>
                    <td>{{ recurringEmployeeFeedback.employee }}</td>
                    <td>{{ recurringEmployeeFeedback.typeOfMeeting }}</td>
                    <td>{% if recurringEmployeeFeedback.targetDate %}{{ recurringEmployeeFeedback.targetDate|date('Y-m') }}{% endif %}</td>
                    <td>{% if recurringEmployeeFeedback.appointedDate %}{{ recurringEmployeeFeedback.appointedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <span class="glyphicon {% if recurringEmployeeFeedback.protocol %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span>
                    </td>
                    <td>
                        <span class="glyphicon {% if recurringEmployeeFeedback.noteHr %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span>
                    </td>
                    <td>
                        <span class="glyphicon {% if recurringEmployeeFeedback.noteSuperior %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span>
                    </td>
                    <td>
                        <span class="glyphicon {% if recurringEmployeeFeedback.noteEmployee %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span>
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('recurringemployeefeedback_show', { 'id': recurringEmployeeFeedback.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('recurringemployeefeedback_edit', { 'id': recurringEmployeeFeedback.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <a href="{{ path('recurringemployeefeedback_new') }}">
            <button type="button" class="btn btn-success">Add</button>
        </a>
    </div>
{% endblock %}
