{% extends 'base.html.twig' %}

{% block body %}
    <h1>RecurringEmployeeFeedback</h1>

    <div class="row">
        <div class="col-md-1"><span class="pull-right field-identifier">Id</span></div>
        <div class="col-md-9">{{ recurringEmployeeFeedback.id }}</div>
    </div>
    <div class="row">
        <div class="col-md-1"><span class="pull-right field-identifier">Targetdate</span></div>
        <div class="col-md-9">{% if recurringEmployeeFeedback.targetDate %}{{ recurringEmployeeFeedback.targetDate|date('Y-m-d H:i:s') }}{% endif %}</div>
    </div>
    <div class="row">
        <div class="col-md-1"><span class="pull-right field-identifier">Appointeddate</span></div>
        <div class="col-md-9">{% if recurringEmployeeFeedback.appointedDate %}{{ recurringEmployeeFeedback.appointedDate|date('Y-m-d') }}{% endif %}</div>
    </div>
    <div class="row">
        <div class="col-md-1"><span class="pull-right field-identifier">Protocolfile</span></div>
        <div class="col-md-9">{{ recurringEmployeeFeedback.protocol }}</div>
    </div>
    <div class="row">
        <div class="col-md-1"><span class="pull-right field-identifier">Notehr</span></div>
        <div class="col-md-9">{{ recurringEmployeeFeedback.noteHr }}</div>
    </div>
    <div class="row">
        <div class="col-md-1"><span class="pull-right field-identifier">Notesuperior</span></div>
        <div class="col-md-9">{{ recurringEmployeeFeedback.noteSuperior }}</div>
    </div>
    <div class="row">
        <div class="col-md-1"><span class="pull-right field-identifier">Noteemployee</span></div>
        <div class="col-md-9">{{ recurringEmployeeFeedback.noteEmployee }}</div>
    </div>
    <div class="row">
        <div class="col-md-1"><span class="pull-right field-identifier">Typeofmeeting</span></div>
        <div class="col-md-9">{{ recurringEmployeeFeedback.typeOfMeeting }}</div>
    </div>

    <br>

    <div class="row">
        <a href="{{ path('recurringemployeefeedback_index') }}">
            <button type="button" class="btn btn-default">Back to list</button>
        </a>
        <a href="{{ path('recurringemployeefeedback_edit', { 'id': recurringEmployeeFeedback.id }) }}">
            <button type="button" class="btn btn-primary">Edit</button>
        </a>

        <br>
        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Delete">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
