{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee list</h1>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <td><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.id }}</a></td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>{{ employee.email }}</td>
                    <td>
                        <a href="{{ path('employee_show', { 'id': employee.id }) }}">
                            <button type="button" class="btn btn-default">Show</button>
                        </a>
                        <a href="{{ path('employee_edit', { 'id': employee.id }) }}">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <a href="{{ path('employee_new') }}">
            <button type="button" class="btn btn-success">Create a new entry</button>
        </a>
    </div>
{% endblock %}
